@import "custom";
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";


.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: middle;
}
.page-links .info {
    padding-top: 8px;
}
.page-links .pagination {
    margin: 0;
}

// margin classes
.m0 {
    margin: 0;
}
.mt0 {
    margin-top: 0;
}
.mb0 {
    margin-bottom: 0;
}
.mr0 {
    margin-right: 0;
}
.ml0 {
    margin-left: 0;
}
.mt {
    margin-top: 15px;
}
.mb {
    margin-bottom: 15px;
}
.mr {
    margin-right: 15px;
}
.ml {
    margin-left: 15px;
}
.mt5 {
    margin-top: 5px;
}
.mb5 {
    margin-bottom: 5px;
}
.mr5 {
    margin-right: 5px;
}
.ml5 {
    margin-left: 5px;
}

// padding classes
.p0 {
    padding: 0 !important;
}
.pt0 {
    padding-top: 0;
}
.pb0 {
    padding-bottom: 0;
}
.pr0 {
    padding-right: 0;
}
.pl0 {
    padding-left: 0;
}
.pt {
    padding-top: 15px;
}
.pb {
    padding-bottom: 15px;
}
.pr {
    padding-right: 15px;
}
.pl {
    padding-left: 15px;
}
.pt5 {
    padding-top: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.pr5 {
    padding-right: 5px;
}
.pl5 {
    padding-left: 5px;
}

// Data tables
table.dataTable {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
    max-width: 100% !important;
}

table.dataTable .form-control {
    width: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
}
div.dataTables_wrapper div.dataTables_length {
    padding-top: 5px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination,
div.dataTables_wrapper div.dataTables_length label {
    margin: 0 !important;
}

// Table styles
th {
    text-align: center;
}

// Bootstrap override

.topbar .navbar-nav > li > a:hover, .topbar .dropdown:hover > a {
    background-color: $navbar-inverse-active-bg;
    color: $white;
}
.mianmenu .navbar-nav > li > a:hover, .mianmenu .dropdown:hover > a {
    background-color: $navbar-default-active-bg;
    color: $navbar-default-active-color;
}

@media(min-width:768px) {
    .dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.dropdown-menu .divider {
    margin: 5px 0;
}
.panel-default > .panel-heading {
    font-weight: bold;
}
.navbar {
    margin-bottom: 0;
}
.jumbotron h1 {
    font-size: 3em;
    margin-top: 0;
}
.jumbotron p:last-child {
    margin-bottom: 0;
}

// Header
header {
    margin-bottom: 15px;
    background: $header-bg;

    // Header Contents
    .header-content {
        margin: 15px 0;

        .logo {
            width: 200px;

            img {
                width: 100%;
                max-height: 80px;
            }
        }
    }
    .topbar {
        min-height: 30px;
    }
    .topbar .navbar-nav > li > a {
        padding-bottom: 9px;
        padding-top: 9px;
    }
    .topbar .user-links {
        margin: 2px 0 1px 10px;
    }

    .mianmenu {
        border-radius: 0;
        min-height: 40px;

        .navbar-toggle {
            margin: 0;
            border: 0;
            width: 100%;
            text-align: center;
        }
    }

    .navbar-form {

        .form-group {
            position: relative;

            .form-control {
                width: 100%;
            }

            button {
                background: transparent;
                border: 0;
                position: absolute;
                top: 1px;
                right: 1px;
            }
        }
    }

}
// Profile style

.profile {
    margin: 20px 0;

    .profile-sidebar {
        background: $white;
        border: 1px solid $laravel-border-color;
        border-radius: $border-radius;
        margin-bottom: 20px;
    }

    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 100%;
        border-radius: $border-radius $border-radius 0 0;
    }

    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }

    .profile-usertitle-name {
        color: $text-color;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .profile-usertitle-job {
        text-transform: uppercase;
        color: $brand-primary;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .user-badges {
        text-align: center;

        span {
            font-size: 2em;
            margin: 5px;
        }
    }

    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;

        .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

        .btn:last-child {
            margin-right: 0px;
        }
    }

    .profile-usermenu {
        margin-top: 30px;

        ul {
            li {
                border-bottom: 1px solid $laravel-border-color;
                position: relative;

                a {
                    color: $text-color;
                    font-size: 14px;
                    font-weight: 400;

                    i {
                        margin-right: 8px;
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: $body-bg;
                        color: $brand-primary;
                    }
                }

                & .edit-profile {
                    background: transparent;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 3.5em;
                    z-index: 999;
                    text-align: center;
                    display: block;
                    border-left: 1px solid $laravel-border-color;

                    i {
                        padding-right: 15px;
                    }
                }

                &.active {
                    a {
                        color: $brand-primary;
                        background-color: $body-bg;
                    }
                }

                &:first-child {
                    border-top: 1px solid $laravel-border-color;
                }

                &:last-child {
                    border-bottom: none;
                    a {
                        border-bottom-left-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;

                    }
                }

            }
        }
    }

    .profile-content {
        padding: 20px;
        background: $white;
        border-radius: $border-radius;

        .profile-image {
            border-radius: $border-radius;
        }

        .heading {
            margin:0;
            padding: 20px 0;
            border-bottom: 1px solid $laravel-border-color;
        }

        .content {
            margin-top: 15px;
        }

    }
}

// Multi drop down menu (3rd level)

.dropdown-submenu {
    position: relative;

    & > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 4px;
        -moz-border-radius: 0 4px 4px 4px;
        border-radius: 0 4px 4px 4px;
    }

    &:hover > .dropdown-menu {
        display: block;
    }

    &.active:hover > a {
        background-color: $brand-primary;
    }

    & > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-left-color: $laravel-border-color;
        margin-top: 7px;
        margin-right: -10px;
    }

    &:hover > a:after {
        border-left-color: #333;
    }

    &.pull-left {
        float: none;
    }

    &.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 4px 0 4px 4px;
        -moz-border-radius: 4px 0 4px 4px;
        border-radius: 4px 0 4px 4px;
    }
}

// Single item style

.item-details {
    background: $item-bg;
    padding: 10px;
    border-radius: $border-radius;
    border: 1px solid $item-border;
    margin-bottom: 22px;

    .banner-img {

        img {
            width: 100%;
            border-radius: $border-radius;
            margin-bottom: 15px;
        }
    }
}

// Item listing style - column
.item {
    padding: 10px;
    float: left;
    width: 100%;
    background: $item-bg;
    margin-bottom: 25px;
    border-radius: $border-radius;
    border: 1px solid $item-border;

    .cover-img {
        margin: -10px -10px 0 -10px;
        img {
            width: 100%;
            border-radius: $border-radius $border-radius 0 0;
        }
    }

    h4 {
        margin-top: 15px;
    }

    .status-links {
        float: left;
        display: block;
        width: 100%;
    }
    .left-corp {
        float: left;
        font-size: 13px;
        margin-top: 2px;
    }
    .right-corp {
        margin-top: 2px;
        float: right;
        background-image: url("../images/download.png");
        background-repeat: no-repeat;
        background-position: top left;
        padding-left: 15px;
        font-size: 12px;
    }

    .box-content {
        margin-top: 10px;
        font-size: 12px;
        float: left;
        p {
            line-height: 18px;
            letter-spacing: 0.1px;
        }
    }
    .box-footer {
        margin-top: 10px;
        float: left;
        width: 100%;
    }
}

.star-rating {
    float: left;
    height: 20px;
    span {
        width: 15px;
        height: 12px;
        float: left;
        margin-top: 1px;

    }
}

.full-star {
    background-image: url("../images/full-star.png");
    background-repeat: no-repeat;

}

.half-star {
    background-image: url("../images/half.png");
    background-repeat: no-repeat;

}

.empty-star {
    background-image: url("../images/empty-star.png");
    background-repeat: no-repeat;

}

.preview {
    float: right;
    span {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;

    }
}

// Product listing - rows
.item-listing {
    margin: 15px 0px;
    border: 1px solid $laravel-border-color;
    background: $body-bg;
    border-radius: $border-radius;
    position: relative;
    min-height: 150px;
    display: block;

    .cover-img {
        width: 200px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: $border-radius 0 0 $border-radius;
            height: 150px;
            margin: -1px 0 0 -1px;
        }
    }

    .item-content {
        padding: 0px 15px;
        position: absolute;
        top: 0;
        left: 210px;
        display: block;
        min-height: 150px;

        .item-listing-bottom {
            display: block;
            margin-top: 15px;
        }
    }
}
.notes-list{

    .tab-content{
        .tab-pane{
            textarea{
                height: 300px;
                resize: none;
            }
        }
    }
}
.notes-title-list{
    ul{
      border:  #eee solid 1px;
        li{
            width: 100%;
            a{
                display: block;
                border-radius:0px;
                transition-duration: 0.5s;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 42px;
                line-height: 20px;
                font-size: 15px;
                color: #333;
                margin: 0px;
                border: none;
                border-bottom: #eee solid 1px !important;
                &:hover{
                    border: none;
                    border-bottom: #eee solid 1px !important;
                    background-color: #f9f9f9;
                }
            }
            &.active{
                a{
                    border: none !important;

                    border-bottom: #eee solid 1px !important;
                    background-color: #eee !important;
                    margin: 0px !important;

                    &:hover{
                        border: none;
                        border-bottom: #eee solid 1px;
                        cursor: pointer;
                        background-color: #f9f9f9;
                    }
                }
            }

        }
    }
}




.fc-event-container{
    z-index: 54;
    position: relative;
    transition-duration: 0.5s;
    &:hover{
        opacity: 0.8;
    }
}

.fc-row .fc-content-skeleton{
    z-index: auto !important;
}
.fc-day.fc-widget-content{
    cursor: pointer;
    z-index: 6;
    &:hover{
        background-color: #ebf8fb;
    }

}

.color-list{
    option{
        color: #FFF !important;
        font-size: 15px;
        padding: 15px 10px !important;
        &.text-blue{
            background-color: #0073b7;
        }
        &.text-aqua{
            background-color: #00c0ef;
        }
        &.text-light-blue{
            background-color: #3c8dbc;

        }
        &.text-teal{
            background-color: #39cccc;
        }
        &.text-yellow{
            background-color: #f39c12;
        }
        &.text-orange{
            background-color: #ff851b;
        }
        &.text-green{
            background-color: #00a65a;
        }
        &.text-lime{
            background-color: #01ff70;
        }
        &.text-red{
            background-color: #dd4b39;
        }
        &.text-purple{
            background-color: #605ca8;
        }
    }
}
